<section class="bg-zinc-900 p-20 rounded-xl my-4 text-center">
    <h1 class="text-5xl font-bold my-5">About Us</h1>
    <p class="text-zinc-300">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio aliquam nobis totam atque nemo fuga voluptatum officia, corrupti eos laborum impedit adipisci amet minus, expedita tempore illo, magni natus quaerat.</p>
</section>